.HalfI {
  width: 50%;
  height: 100vh;
  background-color: aqua;
  position: absolute;
  left: 0;
}

.HalfD {
  width: 50%;
  height: 100vh;
  background-color: burlywood;
  position: absolute;
  right: 0;
}
